{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    {% for item in messages %}
        <div class="alert alert-{{ item.tags }}" role="alert">
            {{ item }}
        </div>
    {% endfor %}
    <h5 class="mt-3">Фильтровать товары:</h5>
    <div class="d-flex justify-content-between align-content-center flex-wrap mt-3">
        <form method="get">
            <button class="btn btn-success" value="Приторный" name="Приторный">Приторный</button>
        </form>
        <form method="get">
            <button class="btn btn-success" value="Цветочные" name="Цветочные">Цветочные</button>
        </form>
    </div>
    <div class="d-flex justify-content-between align-content-center flex-wrap mt-3">
        {% for item in products %}
            <div class="card" style="width: 18rem;">
                <img src="{{ item.photo.url }}" class="card-img-top" alt="{{ item.title|capfirst }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title|capfirst }} | {{ item.category.name }}</h5>
                    <p class="card-text">{{ item.desc|capfirst }}</p>
                    <p class="card-subtitle">{{ item.created_at }}</p>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2">
                        <a href="{% url 'mainapp:order' item.id %}" class="btn btn-primary">Заказать</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
